<header class="navbar" [class.hide-navbar]="isScrollingDown()">
  <div class="container">
    <!-- Burger toggle -->
    <button
      class="navbar--toggle"
      (click)="toggleMenu()"
      [class.open]="menuOpen()"
      aria-label="Toggle menu"
    >
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </button>

    <!-- Menu principal -->
    <nav [class.navbar--menu--open]="menuOpen()" class="navbar--menu">
      <ul class="navbar--block">
        <li class="navbar--li">
          <a
            routerLink="/"
            routerLinkActive="active-page"
            class="navbar--button"
            (click)="closeMenu()"
            [class.active-page]="false"
          >
            <i class="fa fa-house"></i>
          </a>
        </li>

        <!-- Séparateur -->
        <li class="navbar--separator"></li>

        <li class="navbar--li">
          <a
            routerLink="/about-me"
            routerLinkActive="active-page"
            class="navbar--button"
            (click)="closeMenu()"
            >{{ "HEADER.ABOUT" | translate }}</a
          >
        </li>
        <li class="navbar--li">
          <a
            routerLink="/portfolio"
            routerLinkActive="active-page"
            class="navbar--button"
            (click)="closeMenu()"
            >{{ "HEADER.PORTFOLIO" | translate }}</a
          >
        </li>
        <li class="navbar--li">
          <a
            routerLink="/resume"
            routerLinkActive="active-page"
            class="navbar--button"
            (click)="closeMenu()"
            >{{ "HEADER.RESUME" | translate }}</a
          >
        </li>
        <li class="navbar--li">
          <a
            class="navbar--button"
            href="#"
            (click)="openContactModal($event); closeMenu()"
            >{{ "HEADER.CONTACT" | translate }}</a
          >
        </li>
      </ul>
    </nav>

    <!-- Langue et bascule de thème -->
    <div class="lang-selector">
      <!-- Bouton de bascule de thème -->
      <button
        class="theme-toggle"
        (click)="toggleTheme()"
        aria-label="Basculer le thème"
      >
        <i
          class="fa"
          [class.fa-sun]="isDarkTheme()"
          [class.fa-moon]="!isDarkTheme()"
        ></i>
      </button>
      <!-- Séparateur -->
      <div class="navbar--separator"></div>
      <!-- Drapeaux -->
      <button class="lang-flag" (click)="setLang('fr')" aria-label="Français">
        <img
          [ngSrc]="'assets/flags/fr.svg'"
          width="32"
          height="24"
          alt="Français"
        />
      </button>
      <button class="lang-flag" (click)="setLang('en')" aria-label="English">
        <img
          [ngSrc]="'assets/flags/gb.svg'"
          width="32"
          height="24"
          alt="English"
        />
      </button>
    </div>
  </div>
</header>

<!-- Modale de contact -->
<app-modal
  *ngIf="contactModalOpen()"
  title="Contactez moi"
  (close)="closeContactModal()"
>
  <form class="contact-form">
    <a class="contact-form--link" href="mailto:jonathanbinot@gmail.com">
      {{ "CONTACT.MAIL" | translate }}
      <i class="fas fa-external-link-alt"></i>
    </a>
    <a
      class="contact-form--link"
      href="https://www.linkedin.com/in/jonathanbinot/"
    >
      {{ "CONTACT.LINKEDIN" | translate }}
      <i class="fas fa-external-link-alt"></i>
    </a>
  </form>
</app-modal>
