.homepage {
  position: relative;
  background-color: black;
  z-index: -2;
  &--section {
    display: flex;
    max-width: 95%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: auto;
  }
  &--background {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    &--video {
      opacity: 0.5;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
  }
  &--inner-text {
    font-size: 18px;
    &--block {
      min-width: 80%;
      padding: 1rem 2rem;
      @include dark-glass-styled-container-background;
    }
  }
}

@media (min-width: 768px) {
  .homepage {
    &--inner-text {
      font-size: 30px;
    }
  }
}
