$primary-blue: #2493f7;

// Variables de la modale
$modal-bg: #23272f;
$modal-bg-light: #fff;
$modal-header-bg: #222c38;
$modal-header-bg-light: #f5f5f7;
$modal-border-radius: 1.25rem;
$overlay-bg: rgba(0, 0, 0, 0.48);
$focus-outline: 2px solid #a6e1fa;