<section
  style="
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div>
    <h1>{{ "HOME.NAME" | translate }}</h1>
    <h2>{{ "HOME.TITLE" | translate }} {{ "HOME.LANGUAGES" | translate }}</h2>
  </div>
</section>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet
  nisl et dui luctus, eget scelerisque ante malesuada. Sed egestas tempus justo
  sit amet faucibus. Proin fermentum lacus non dui viverra varius. Quisque
  dictum ac justo at ullamcorper. Duis commodo massa luctus ultricies convallis.
  Donec a vestibulum neque, non auctor purus. Phasellus ac nunc eget libero
  mattis ullamcorper eget ac mauris. Aliquam finibus porta placerat. Maecenas et
  finibus velit. Suspendisse vitae tortor justo. Interdum et malesuada fames ac
  ante ipsum primis in faucibus. Maecenas vitae neque lectus. Curabitur risus
  orci, finibus ac mollis sit amet, rhoncus sed lectus. Vivamus sit amet nibh
  ultricies, mattis nisl ut, volutpat lorem. Maecenas blandit aliquet nunc, eu
  faucibus mi pharetra sed. Etiam vitae metus in diam suscipit lacinia. Etiam eu
  elit ante. Quisque nibh augue, suscipit ac finibus at, posuere eget massa.
  Aenean eget tristique orci. Aliquam nulla mauris, pulvinar ac maximus vel,
  placerat nec magna. Morbi viverra in magna vel sodales. Aliquam aliquet non
  nulla sit amet euismod. Etiam sit amet nisi a urna ullamcorper maximus. Proin
  orci urna, congue sed tincidunt nec, consequat at ante. Aliquam mollis leo nec
  nibh pharetra fringilla. In pharetra, ipsum ac luctus convallis, nisi elit
  tristique nunc, nec commodo augue leo at lorem. Maecenas sodales, tellus
  rutrum elementum rhoncus, nisl tellus vestibulum nisi, dignissim porttitor
  velit massa non orci. In hac habitasse platea dictumst. Maecenas dictum risus
  sed scelerisque elementum. Maecenas sit amet purus hendrerit, rhoncus eros ut,
  maximus risus. Donec felis urna, suscipit quis metus eget, pharetra sagittis
  nulla. Aliquam erat volutpat. Quisque bibendum feugiat leo eu tempor. Morbi et
  aliquet magna. Mauris ornare commodo urna et eleifend. Lorem ipsum dolor sit
  amet, consectetur adipiscing elit. Ut a dui massa. Phasellus hendrerit, nunc
  eu imperdiet accumsan, elit lacus rutrum nisi, ac rutrum nisi dolor non
  sapien. Duis sed diam bibendum nisi vulputate rhoncus. Mauris sed turpis non
  est auctor efficitur. Nam non accumsan massa, eu accumsan justo. Etiam non
  urna ut augue dictum feugiat. Nam elit lacus, iaculis quis feugiat et, rutrum
  nec quam. Nulla eget orci tempus, laoreet leo at, consequat mauris. Praesent
  gravida consequat odio, nec finibus ex. Suspendisse mattis tristique elit, sed
  euismod sapien molestie sit amet. Curabitur quis lectus sit amet metus
  sollicitudin fermentum. Donec nec pulvinar libero. Sed ex sapien, convallis
  vel metus ut, bibendum ornare elit.
</p>
