.collapsible {
  &--container {
    margin: 1rem 0;
  }
  &--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    width: 95%;
    &--container {
      display: flex;
      justify-content: center;
      @include dark-glass-styled-container-background;
      color: white;
      font-weight: 600;
      font-size: 20px;
      max-width: 100%;
      width: 100%;
    }
    cursor: pointer;
    &--text {
      &--chevron {
        display: inline-block;
        transform: rotate(0deg);
        transition: all ease-in-out 0.2s;
        &:hover {
          transform: scale(1.1);
          transition: all ease-in-out 0.2s;
        }
        &--upside-down {
          display: inline-block;
          transform: rotate(180deg);
          transition: all ease-in-out 0.2s;
        }
      }
    }
  }
  &--content {
    height: 100%;
    width: 95%;
    &--container {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
      opacity: 0;
      height: auto;
      max-height: 0;
      max-width: 100%;
      overflow: hidden;
      transition: all 0.2s ease-out;
      background: rgba(255, 255, 255, 0.548);
      border-radius: 8px;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
      backdrop-filter: blur(10.5px);
      -webkit-backdrop-filter: blur(10.5px);
      &.active {
        color: black;
        opacity: 1;
        height: auto;
        min-height: 30px;
        max-height: fit-content;
      }
    }
  }
}
